@tailwind base;
@tailwind components;
@tailwind utilities;

/* /auth */
.authsidescreen {
  background: url("../public/images/authsideimage.jpeg") no-repeat center center;
  background-size: cover;
}
.left {
  animation: slide-left ease-out 150ms forwards;
}
.right {
  animation: slide-right ease-in 150ms forwards;
}
@keyframes slide-left {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 1;
  }
}
@layer utilities {
  /* Webkit (Chrome, Safari, Opera) */
  .scrollbar::-webkit-scrollbar {
    width: 0px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #8888888e;
  }

  /* Firefox */
  .scrollbar {
    scrollbar-width: none;
    scrollbar-color: #8888888e transparent;
  }
}